<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>實作2: 影像辨識</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/recorderjs/0.1.0/recorder.js"></script>
  <script>
    async function sendData() {
      const selectedText = document.getElementById('sentenceSelect').value;
      const formData = new FormData();
      formData.append('sentence', selectedText);
  
      if (audioBlob) {
        formData.append('audio', audioBlob, 'audio.wav');
      }
  
      const response = await fetch('/module/examA/process', {
        method: 'POST',
        body: formData,
      });
  
      const data = await response.json();
      if (data.RecognitionStatus){
        document.getElementById('result').innerText = 'API回傳結果：' + data.RecognitionStatus + '\n';
      }
      let score = data.NBest[0].PronunciationAssessment.PronScore;

    }
  
  </script>
</head>
<body class="flex items-center justify-center h-screen bg-gray-100">
    <div class="text-center w-full p-6 bg-white rounded-lg shadow-lg" style="width: 60%; height: 60%; max-width: 500px; max-height: 600px;">
      <h1 class="text-2xl mb-4">選擇檔案並上傳</h1>
  
      <!-- 上傳檔案 -->
      <input type="file" id="fileInput" class="w-full p-2 mb-4 border border-gray-300 rounded">
  
      <!-- 送出按鈕 -->
      <button onclick="sendData()" class="px-6 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600">
        送出
      </button>
  
      <!-- 顯示結果 -->
      <div id="result" class="mt-4 text-xl"></div>
    </div>
  </body>
</html>
