<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>實作2: 影像辨識</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    async function sendData() {
      const fileInput = document.getElementById('fileInput');
      const file = fileInput.files[0];
      const formData = new FormData();
      formData.append('file', file);

      // 發送 POST 請求
      const response = await fetch('/module/examB/process', {
          method: 'POST',
          body: formData,
      });

      // 取得回應
      const data = await response.json();
      if (data.error) {
        alert(data.error);
        return;
      }
      document.getElementById('result').innerText = "";
      document.getElementById('resultImg').src = data.imgUrl;

      Object.entries(data.results).forEach(([key, result]) => {
        document.getElementById('result').innerText += key + '==>' + result.text + '(' + result.score + '分)\n';
      });
    }
  </script>
</head>
<body class="flex items-center justify-center h-screen bg-gray-100">
    <div class="text-center w-full p-6 bg-white rounded-lg shadow-lg" style="width: 60%; height: 60%; max-width: 500px; max-height: 600px;">
      <h1 class="text-2xl mb-4">選擇檔案並上傳</h1>
  
      <!-- 上傳檔案 -->
      <input type="file" id="fileInput" class="w-full p-2 mb-4 border border-gray-300 rounded">
  
      <!-- 送出按鈕 -->
      <button onclick="sendData()" class="px-6 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600">
        送出
      </button>
  
      <!-- 顯示結果 -->
      <div class="mt-4 flex justify-center items-center">
        <img id="resultImg" src="" class="max-w-full max-h-full">
      </div>
      <div id="result" class="mt-4 text-xl text-left"></div>
    </div>
  </body>
</html>
